.mapContainer {
  width: 95%;
  margin: 0 auto;
}

.mapElement {
  height: 400px;
  padding: 15px;
  border: 4px solid #4CAF50;
  margin-bottom: 20px;
}

.drawnMarker {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #3F51B5;
}
